{% load static %}
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge;" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess 237</title>
    <link rel="stylesheet" type="text/css" href="{% static 'chess/css/styles.css' %}"> 
    <link rel="stylesheet" type="text/css" href="{% static 'chess/vendor/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'chess/css/alertify.min.css' %}">
    <script src="{% static 'chess/js/prefixfree.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/15739e6b38.js" crossorigin="anonymous"></script>
		<style>
	.gamemod{
		min-width:300px;
		width: 30%;
		height: 45vh;
		margin-bottom: 20px;
		background: rgba(0,0,0,0.7);
	}
	.weighover:hover {
		font-weight:bold;
		cursor:pointer;
	}
#app[data-menu="about"] #overlay {
  z-index: 299;
  opacity: 1;
}

			#mininav a:hover {
				font-weight:bold;
			}
			#mininav a{
			margin-right:10px;			
			}

#profile {
	display:none;
}

#app[data-menu="about"] #profile{
	width:100vw;
	height:100vh;
	position:absolute;
	display:block;
	top:0px;
	margin:0px;
	left:0px;
  z-index: 600;
  background:#eee;
}
#friendsMenu a[data-menu="off"]{
	display:none;
}

			input{cursor:pointer;}
			.gamemod{
				min-width:300px;
				width: 30%;
				height: 45vh;
				margin-bottom: 20px;
				background: rgba(0,0,0,0.7);
			}
			.gamemod p{
				display:block;
			}
			.gamemod *{
				color:#fff;
			}
			.gamemod:hover{
				cursor:pointer;
				box-shadow:0px 0px 6px #777;
			}
.gamemod:hover .modtitle{
				text-shadow:0px 0px 6px #fff;
			}
			.friendsMenu a{
				font-size:12px;
				padding:10px;
				background:#eee;
				text-decoration:none;
			}
			.form-input{
				height:35px; padding-left:20px; width:200px; border:none; border-radius:3%; box-shadow: 0px 0px 3px #444; background-color:#fff;
			}
			.form-submit{
border:none; border-radius:3%; margin-top:50px; background:#333;color:#fff; box-shadow: 0px 0px 6px #444; width:100px;height:45px;transition-property:all;transition-duration:1;
			}
			.aSN{
border:none; border-radius:3%; margin-top:50px; background:#333;color:#fff; box-shadow: 0px 0px 6px #444; width:150px;height:45px;padding-top:10px;margin-right:10px;text-decoration:none;
			}
			.aSN2{
border:none; border-radius:3%; background:#fff;color:#333; box-shadow: 0px 0px 6px #444; width:200px;height:45px;padding-top:15px;margin-right:10px;text-decoration:none;text-align:center;
			}
			.aSN:hover,.form-submit:hover{
				background:#fff;color:#333;cursor:pointer; 		
			}
	p{font-family:12px;margin-bottom:10px;overflow-wrap: break-word;word-wrap:break-word;hyphens: auto;}
.gamestarted{display:none;}
.saloon{
padding:10px;background:#333;color:#fff;font-size:20px;text-transform:uppercase;
cursor:pointer;
}
.saloon:hover{
background:#fff;
color:#777;
}
a{text-decoration:none;}
	@media (max-width: 992px){
		.gamestarted{
			opacity:0;
		}
		#log{
			font-size:12px;
		}
	}
	@media (min-width: 993px){
		.littleShow{
			display:none;
		}
	}
	</style>
  </head>
  <body>  
		<div id="overlay3" style="display:none;position:fixed;z-index:1000;background:rgba(200,200,200,0.6);width:100%;height:100%;">
			<div style='width:100%;height:100px;margin-top:15%;text-align:center;font-size:28px;font-weight:bold;'>
				Vous avez une confrontation en cours
			</div>
			<div style='display:flex;flex-wrap:wrap;align-items:center;justify-content:center;'>
				<a class='aSN2' href='#' id='againsearch' onclick='hideOver3()'>Continuer</a><a class='aSN2' href='#' onclick='trylookPlayer3()'>Nouvelle Partie</a>
<a class='aSN2' href='#'>Mode de Jeu</a>
			</div>
		</div>

		<div id="overlay2" style="display:none;position:fixed;z-index:1000;background:#222;width:100%;height:100%;">
			<div id='waitmessage' style='margin-top:20%;text-align:center;color:#fff;'> 
				<span id='spasearchM'><i style='color:#fff;' class='fa fa-user'></i>  &nbsp;Recherche d'adversaire en cours ...</span>
				<div class='aka' id='found' style='display:none;margin-top:15px;text-align:center;color:#fff;font-size:55px;'>
					ADVERSAIRE TROUVE !!!
				</div>
				<div class='aka' id='notfound' style='display:none;margin-top:15px;text-align:center;color:#fff;'>
					<b>Désolé, mais nous n'avons pas pu trouvé d'adversaire.</b>
					<div style='display:flex;flex-wrap:wrap;align-items:center;justify-content:center;'>
						<a class='aSN' href='#' id='againsearch' onclick='trylookPlayer()'>Reéssayer</a><a class='aSN' href='#' onclick='returnHall()'>Revenir au Salon</a>
					</div>
				</div>
			</div>
		</div><!-- -->
	 {% if user.is_authenticated %}
		<!-- Amis -->
	  <div id='tomodachis' style='background:rgba(20,20,20,0.7);display:none;padding-top:1%;width:100vw;height:100vh;z-index:999;position:absolute;'>
		<div style='padding-top:20px;width:35%;height:50%;min-width:390px;min-height:400px;margin:0 auto;background:#fff;'>
			<div style='display:flex;justify-content:space-around;'>
				<h1 style='padding-bottom:10px;text-align:center;color:#777;font-size:30px;color:#00eeb0;'> Liste des Amis </h1>
				<a style='text-decoration:none;color:#000;' onclick='closeTomodachis()' href='#'><i class='fas fa-close'></i>&nbsp;Fermer</small></a>
			</div>
			{% if user.player.m_friends.count == 0 %}
			<div>
				<span href="#" style="color:##777;text-align:center;font-size:14px;"> Aucun Ami </<span>
			</div>
			{% else %}
			{% for a in user.player.m_friends.filter %}
			<div style='margin-bottom:20px;'>
				<div style='display:flex;padding-left:20px;'>
					<div style="width:30%;max-width:80px;min-height:80px;border-radius:100%;background-position:center;background-size:cover;background-image:url({{a.m_logo.url}})"></div>
					<div style='min-width:220px;width:60%;margin-left:20px;margin-right:50px;'>
						<div style='width:100%;display:flex;justify-content:space-between;'>
							<h6 style='color:#000;font-size:18px;text-transform:capitalize;'> {{a}} </h6>
							<h6 style='color:#000;font-size:18px;color:#777;'> Elo:{{a.elo}} </h6>
						</div>
						<div style='margin-top:5px;color:#00eeb0;font-size:12px;'><!-- Connecté ( Partie en Cours ) -->{{a.status}}</div>
						<div class='friendsMenu' style='margin-top:5px;width:100%;display:flex;justify-content:space-between;'>
							<a id='fighto' href='#' style='color:#777;' onclick="fightFriend('{{a}}',{{a.id}})"><i class="fas fa-fist-raised"></i>&nbsp; Fight ! </a>
							<a href='#' style='color:#777;'><i class="fas fa-tasks"></i>&nbsp; Stats </a>
							<a href='#' style='color:#777;'><i class="fas fa-sms"></i>&nbsp; Message </a>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
			{% endif %}		
		</div>
	  </div>
		<!-- ============ -->
		<!-- Modes de Jeu -->
	  <div id='gamemodsDiv' style='display:none;overflow-y:auto;padding-top:1%;width:100vw;height:100vh;background:rgba(20,20,20,1);z-index:999;position:absolute;'>
		<h1 style="text-transform:capitalize;font-family:'Ink Free';font-size:30px;font-weight:normal;color:#fff;text-align:center;"> Choisissez un mode de Jeu </h1>
		<div style='margin-bottom:15px;text-align:center;font-size:18px;' onclick="hideDiv('gamemodsDiv',0)"><span class='weighover' style='color:#fff;'>Revenir au salon</span></div>
		<div style='display:flex;flex-wrap:wrap;justify-content:space-around;'>
			<div id="gamemod1" class='gamemod' style="background-image:url({% static 'chess/img/quick2.jpg' %});background-position:center;background-size:cover;">
				<div style='display:flex;justify-content:center;flex-direction:column;width:100%;height:100%;background-color:rgba(20,20,20,0.4);'>
					<div class='modtitle' style='font-size:40px;text-align:center;'> Partie Rapide </div>
					<p style='font-size:16px;text-align:center;'>
						Affronter quelqu'un au hasard.<br>
						Vous pouvez tomber sur un véritable maitre ou un gros noob.
					</p>
				</div>
			</div>
			<div class='gamemod' style="background-image:url({% static 'chess/img/trophy.jpg' %});background-position:center;background-size:cover;">
				<div style='display:flex;justify-content:center;flex-direction:column;width:100%;height:100%;background-color:rgba(20,20,20,0.4);'>
					<div class='modtitle' style='font-size:40px;text-align:center;'> Tournoi </div>
					<p style='font-size:16px;text-align:center;'>
						Participez à un tournoi et tentez de gagner un prix.
					</p>
				</div>		  
			</div>
			<div class='gamemod' style="background-image:url({% static 'chess/img/vikings.jpg' %});background-position:center;background-size:cover;">
				<div style='display:flex;justify-content:center;flex-direction:column;width:100%;height:100%;background-color:rgba(20,20,20,0.4);'>
					<div class='modtitle' style='font-size:40px;text-align:center;'> La Taverne des Vikings </div>
					<p style='font-size:16px;text-align:center;'>
						Affrontez des joueurs dont l'ELO varie entre 0 et 200.
					</p>
				</div>		  
			</div>
			<div class='gamemod' style="background-image:url({% static 'chess/img/IA.png' %});background-position:center;background-size:cover;">
				<div style='display:flex;justify-content:center;flex-direction:column;width:100%;height:100%;background-color:rgba(20,20,20,0.4);'>
					<div class='modtitle' style='font-size:40px;text-align:center;'> Affronter l'IA </div>
					<p style='font-size:16px;text-align:center;'>
						Progressez en confrontant notre Intelligence Artificielle.
					</p>					
				</div>		  
			</div>			
			<div class='gamemod' style="background-image:url({% static 'chess/img/watcher.png' %});background-position:center;background-size:cover;">
				<div style='display:flex;justify-content:center;flex-direction:column;width:100%;height:100%;background-color:rgba(20,20,20,0.4);'>
					<div class='modtitle' style='font-size:40px;text-align:center;'> Watcher </div>
					<p style='font-size:16px;text-align:center;'>
						Observer une partie en cours pour analyser les tactiques et stratégies utilisés.
					</p>					
				</div>		  
			</div>
			<div class='gamemod' style="background-image:url({% static 'chess/img/puzzle.jpg' %});background-position:center;background-size:cover;">
				<div style='display:flex;justify-content:center;flex-direction:column;width:100%;height:100%;background-color:rgba(20,20,20,0.4);'>
					<div class='modtitle' style='font-size:40px;text-align:center;'> Puzzle & Enigmes </div>
					<p style='font-size:16px;text-align:center;'>
						Testez votre sens stratégique face aux défis qu'on vous a concotcté.
					</p>					
				</div>		  
			</div>			
		</div>
	  </div>
		<!-- ============ -->

    <div id="app" class="loading" data-theme="classic" data-frame="on" data-menu="main">
	  <!-- Logo preloader -->
      <div id="logo">
        <div class="symbol"><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <div class="symbol"><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <div class="symbol"><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <div class="symbol"><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <div class="symbol"><div></div><div></div><div></div><div></div><div></div><div></div></div>
      </div>
	  <!-- Logo preloader -->
      <div id="overlay">
				<div id='profile'>
					<div style='width:100%;height:100%;display:flex;'>
						<div style='box-shadow:1px 0px 3px #777;background:#fff;width:25%;max-width:450px;min-width:300px;padding:30px 10px 10px 10px;'>
							<div style='display:flex;justify-content:space-around;'>
								<img style='border-radius:100%;width:100px;height:100px;box-shadow:0px 0px 6px #777;' src="{{user.player.m_logo.url}}">
								<div>
									<h4 style='text-align:center;text-transform:uppercase;font-size:20px;color:#000;'> {{user.username }} </h4>
									<h4>
										<span style='padding:10px;font-size:15px;background:#777;'> ELO : </span>
										<span style='font-size:15px;color:#000;'> &nbsp;{{user.player.elo}} Points </span>
									</h4>
									<h6 style='font-weight:bold;text-align:center;color:#000;margin-top:20px;font-size:15px;'> Modifier mes Infos </h6>
								</div>								
							</div>
							<div style='margin-bottom:50px;text-align:center;'>
								<a href='#' style='font-size:15px;color:#ee1040;' onclick='disconnect()'> Me déconnecter </a>
								<a href='/disc/' id='disco'></a>
							</div>
							<div>
								<div style='text-align:center;'>
								<span href='#' style='padding:10px;font-size:15px;background:#777;color:#fff;'> Jeune Viking </span>
								<span href='#' style='padding:10px;font-size:15px;color:#777;'> Guerrier Redoutable </span>
								</div>
							</div>
							<!-- =============== -->
							<div>
								<div style='text-align:center;'>
									<a href='#' style='padding:10px;font-size:15px;color:#777;'> 0 Actualités </a>
								</div>
							</div>
							<!-- =============== -->
							<div>
								<div style='text-align:center;'>
									<a href='#' style='padding:10px;font-size:15px;color:#000;'> 0 Messages </a>
								</div>
							</div>
							<!-- =============== -->
							<div>
								<div style='text-align:center;'>
									<a href='#' style='padding:10px;font-size:15px;color:#000;'> 0 Duels </a>
								</div>
							</div>
							<!-- =============== -->
							<div style='text-align:center;'>
								<a href='#' onclick="changeAppMenu('menu','main')" style='padding:10px;font-size:15px;background-color:#333;color:#fff;'> Revenir au Salon </a>
							</div>
							<!-- =============== -->
						</div>
					</div>
				</div>
			</div>

		<!-- Opponent Div -->
		<center><div style='font-size:11px;margin-top:10px;color:#bbb;'><small id='partie'></small></div></center>
		<nav id='navbar' style='width:100%;height:80px;display:flex;justify-content:center;'>
				<div>
					<span style='padding:10px;background:#bbb;font-size:20px;text-transform:uppercase;'>Votre Salon </span>
				</div>
				<div>
					<span href='#' class='saloon'>&nbsp;{{user.username}}</span>
				</div>
		</nav>
		<div class='opponentDiv littleShow' style='display:none;'>
			<center ><span style='padding:10px;background:#bbb;font-size:14px;text-transform:uppercase;'>Adversaire</span><i style='padding:10px;background:#333;font-size:14px;text-transform:uppercase;' class='opponent_name'>&nbsp;</i></center>
		</div>
		<div class='opponentDiv gamestarted' style='z-index:100;position:absolute;top:30px;right:10px;width:300px;height:200px;'>
			<center><h1 style='width:60%;font-size:16px;padding-top:12px;height:40px;text-align:center;margin:0px;background:#000;color:#fff;'>Adversaire</h1></center>
			<div style='width:100%;height:160px;'>
<center><div id='opp_logo' style="margin-top:10px;padding-top:25px;padding-left:40px;width:100px;height:100px;border-radius:80%;background-size:100% 100%;margin-bottom:10px;">
				
				</div>
				<h1 style='font-size:16px;color:#777;' class='opponent_name'>  </h1>
				<div style='font-size:12px;color:#777;' id='opp_elo'></div>
				<button class="btn" id='colorSide'></button>
				<div><a href='#' style='margin:0px;font-size:12px;text-decoration:none;'><i class='fa fa-plus'></i>&nbsp;Ajouter comme ami</a></div>
				<div>
					<div id='win_stat' data-nb='0' style='width:60%;font-size:16px;padding-top:12px;height:40px;text-align:center;margin:0px;margin-bottom:5px;background:#fff;color:#000;'><i class='fa fa-smile-o'></i>&nbsp;0 Victoires </div>
					<div id='lose_stat' data-nb='0' style='width:60%;font-size:16px;padding-top:12px;height:40px;text-align:center;margin:0px;margin-bottom:5px;background:#fff;color:#000;'><i class='fa fa-frown-o'></i>&nbsp; 0 Défaites </div>
					<div id='draw_stat' data-nb='0' style='width:60%;font-size:16px;padding-top:12px;height:40px;text-align:center;margin:0px;margin-bottom:5px;background:#fff;color:#000;'><i class='fa fa-meh-o'></i> &nbsp; 0 Matchs nul </div>
				</div>
			</center>
			</div>
		</div>
		<!-- Recent -->
		<!-- opponent Div -->


      <div id="menu" class="main">
		<div id='quote' style="font-family:'Ink Free',eufm10;">Juste pour les Stratèges.</div>
		<nav id='mininav'> <a href='#'><i class="fas fa-house-user"></i>&nbsp;Accueil</a><a href='#'><i class="fas fa-book"></i>&nbsp;Regles</a><a href='#'><i class="fas fa-tasks"></i>&nbsp;Scores</a><a onclick='showTomodachis()' href='#'><i class='fas fa-group'>&nbsp;Amis</i></a> </nav>
        <img id ="logoimg" src="{% static 'chess/img/logo.png' %}" alt="hartwig chess set" />
		<!-- Panneaux de Selection -->
        <section id="panes">
		  <!-- Themes -->
          <section id="themes" class="pane">
            <div id="themes-box">
              <div class="set-theme" data-theme="classic"><div class="cube"></div></div>
              <div class="set-theme" data-theme="marble"><div class="cube"></div></div>
              <div class="set-theme" data-theme="flat"><div class="cube"></div></div>
              <div class="set-theme" data-theme="wireframe"><div class="cube"></div></div>
            </div>
            <button type="button" class="btn menu-nav" data-menu="main">Back</button>
          </section>
		  <!-- Themes -->
          <section id="main" class="pane">
            <h1>CHESS 237</h1>
            <button type="button" class="btn white menu-nav" data-menu="themes">Options
            <button type="button" id="continue" class="btn">Jouer
            <button type="button" class="btn white menu-nav" data-menu="about">Profil
          </section>
        </div>
      <div id="top-bar">
        <button type="button" class="btn icon" data-state="inactive" id="undo"></button>
        <p id="log"></p>
        <button type="button" class="btn icon" id="open-menu"></button>
      </div>
      <div id="container">
        <div id="scene">
          <div id="table">
          <div id="b-jail" class="jail"></div>
          <div id="frame"></div>
        <table id="board">
          <thead>
            <tr>
              <th></th>
              <th><span>A</span></th>
              <th><span>B</span></th>
              <th><span>C</span></th>
              <th><span>D</span></th>
              <th><span>E</span></th>
              <th><span>F</span></th>
              <th><span>G</span></th>
              <th><span>H</span></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th><span>8</span></th>
              <td id="a8" class="square"></td>
              <td id="b8" class="square"></td>
              <td id="c8" class="square"></td>
              <td id="d8" class="square"></td>
              <td id="e8" class="square"></td>
              <td id="f8" class="square"></td>
              <td id="g8" class="square"></td>
              <td id="h8" class="square"></td>
              <th><span>8</span></th>
            </tr>
            <tr>
              <th><span>7</span></th>
              <td id="a7" class="square"></td>
              <td id="b7" class="square"></td>
              <td id="c7" class="square"></td>
              <td id="d7" class="square"></td>
              <td id="e7" class="square"></td>
              <td id="f7" class="square"></td>
              <td id="g7" class="square"></td>
              <td id="h7" class="square"></td>
              <th><span>7</span></th>
            </tr>
            <tr>
              <th><span>6</span></th>
              <td id="a6" class="square"></td>
              <td id="b6" class="square"></td>
              <td id="c6" class="square"></td>
              <td id="d6" class="square"></td>
              <td id="e6" class="square"></td>
              <td id="f6" class="square"></td>
              <td id="g6" class="square"></td>
              <td id="h6" class="square"></td>
              <th><span>6</span></th>
            </tr>
            <tr>
              <th><span>5</span></th>
              <td id="a5" class="square"></td>
              <td id="b5" class="square"></td>
              <td id="c5" class="square"></td>
              <td id="d5" class="square"></td>
              <td id="e5" class="square"></td>
              <td id="f5" class="square"></td>
              <td id="g5" class="square"></td>
              <td id="h5" class="square"></td>
              <th><span>5</span></th>
            </tr>
            <tr>
              <th><span>4</span></th>
              <td id="a4" class="square"></td>
              <td id="b4" class="square"></td>
              <td id="c4" class="square"></td>
              <td id="d4" class="square"></td>
              <td id="e4" class="square"></td>
              <td id="f4" class="square"></td>
              <td id="g4" class="square"></td>
              <td id="h4" class="square"></td>
              <th><span>4</span></th>
            </tr>
            <tr>
              <th><span>3</span></th>
              <td id="a3" class="square"></td>
              <td id="b3" class="square"></td>
              <td id="c3" class="square"></td>
              <td id="d3" class="square"></td>
              <td id="e3" class="square"></td>
              <td id="f3" class="square"></td>
              <td id="g3" class="square"></td>
              <td id="h3" class="square"></td>
              <th><span>3</span></th>
            </tr>
            <tr>
              <th><span>2</span></th>
              <td id="a2" class="square"></td>
              <td id="b2" class="square"></td>
              <td id="c2" class="square"></td>
              <td id="d2" class="square"></td>
              <td id="e2" class="square"></td>
              <td id="f2" class="square"></td>
              <td id="g2" class="square"></td>
              <td id="h2" class="square"></td>
              <th><span>2</span></th>
            </tr>
            <tr>
              <th><span>1</span></th>
              <td id="a1" class="square"></td>
              <td id="b1" class="square"></td>
              <td id="c1" class="square"></td>
              <td id="d1" class="square"></td>
              <td id="e1" class="square"></td>
              <td id="f1" class="square"></td>
              <td id="g1" class="square"></td>
              <td id="h1" class="square"></td>
              <th><span>1</span></th>
            </div>
          </tbody>
          <tfoot>
            <tr>
              <th></th>
              <th><span>A</span></th>
              <th><span>B</span></th>
              <th><span>C</span></th>
              <th><span>D</span></th>
              <th><span>E</span></th>
              <th><span>F</span></th>
              <th><span>G</span></th>
              <th><span>H</span></th>
              <th></th>
            </tr>
          </tfoot>
        </table>
          <div id="w-jail" class="jail"></div>
        </div>
        <div id="pieces">
          <div id="p" class="piece pawn">
            <div class="poly-group">
              <div class="poly small-cube">
                <div class="ft face"></div>
                <div class="bk face"></div>
                <div class="rt face"></div>
                <div class="lt face"></div>
                <div class="tp face"></div>
              </div>
            </div>
          </div>
          <div id="r" class="piece rook">
            <div class="poly-group">
              <div class="poly big-cube">
                <div class="ft face"></div>
                <div class="bk face"></div>
                <div class="rt face"></div>
                <div class="lt face"></div>
                <div class="tp face" style='text-align:center;'><br><i style='font-size:20px;' class='fas fa-chess-rook'></i></div>
              </div>
            </div>
          </div>
          <div id="n" class="piece rook">
            <div class="poly-group">
              <div class="poly big-cube">
                <div class="ft face"></div>
                <div class="bk face"></div>
                <div class="rt face"></div>
                <div class="lt face"></div>
                <div class="tp face" style='text-align:center;'><br><i style='font-size:20px;' class='fas fa-chess-knight'></i></div>
              </div>
            </div>
          </div>
          <div id="b" class="piece rook">
            <div class="poly-group">
              <div class="poly big-cube">
                <div class="ft face"></div>
                <div class="bk face"></div>
                <div class="rt face"></div>
                <div class="lt face"></div>
                <div class="tp face" style='text-align:center;'><br><i style='font-size:20px;' class='fas fa-chess-bishop'></i></div>
              </div>
            </div>
          </div>
          <div id="q" class="piece queen">
            <div class="poly-group">
              <div class="poly big-cube">
                <div class="ft face"></div>
                <div class="bk face"></div>
                <div class="rt face"></div>
                <div class="lt face"></div>
                <div class="tp face" style='text-align:center;'><br><i style='font-size:20px;' class='fas fa-chess-queen'></i></div>
              </div>
            </div>
          </div>
          <div id="k" class="piece king">
            <div class="poly-group">
              <div class="poly big-cube">
                <div class="ft face"></div>
                <div class="bk face"></div>
                <div class="rt face"></div>
                <div class="lt face"></div>
                <div class="tp face" style='text-align:center;'><br><i style='font-size:20px;' class='fas fa-chess-king'></i></div>
              </div>
            </div>
          </div>
          </div>
        </div>
        <div id="promotion"></div>
		<footer>
			 <a href='http://nts.yaknema.com'>Copyright @NoTimetoSleep</a><br><br>
			 <a href='http://nts.yaknema.com'>Visitez nous</a>
		</footer>
      </div>
    </div>

		<!-- Recent -->
		<div class='dont_show gamestarted' style='z-index:100;position:absolute;top:10px;left:10px;width:300px;height:100%;'>
			<h1 style='font-size:16px;padding-top:12px;height:40px;text-align:center;margin:0px;background:gray;color:#fff;'>Coups Recents </h1>
			<div id='recents' style='padding-top:10px;padding-left:10px;width:100%;height:20%;overflow-y:auto;background:#eee;'>

			</div>
			<br>
			<!-- Chat -->
			<div style='margin-bottom:35px;height:60%;'>
				<h1 style='font-size:16px;padding-top:12px;height:40px;text-align:center;margin:0px;background:gray;color:#fff;'> Discution en Ligne <i class="fa fa-chevron-circle-down"></i> </h1>
				<div class="background:#eee;" style='width:100%;height:70%;'>
					<div style='height:40px;border-bottom:1px solid #bbb;text-align:center;background:#fff;padding-top:10px;'>
						<span style='color:#777;font-size:13px;' id='discuss_mess'> Aucune discussion en cours. </span>
					</div>
					<div style='padding-top:5px;height:80%;overflow:auto;' id='mess_div'>

					</div>
				</div>
				<p style='margin-bottom:10px;border-top:1px solid #bbb;top:0px;height:70px;'>
					<textarea id='messTO' placeholder='Envoyer un message'  style='border:none;height:70px;width:100%;background:#fff;'>

	</textarea>
				</p>
	<center><input type='submit' id='send' value='Envoyer' style='padding:10px;border-radius:10px;width:50%;background:#00c389;color:#fff;'></center>
			</div>
			<!-- Chat -->
		</div>
		<!-- Recent -->

    <script src="{% static 'chess/js/alertify.min.js' %}"></script>
    <script src="{% static 'chess/js/jquery.min.js' %}"></script>
    <script src="{% static 'chess/js/scripts.js' %}"></script>
		<script>
			function newGame()
			{
				chess.reset();
				document.getElementById('b-jail').innerHTML = "";
				document.getElementById('w-jail').innerHTML = "";
			}
		</script>
	<script>
		function hideDiv(arg_div,arg_fun){
			var div = "#"+arg_div;
			if (arg_fun == 0)
			{
				$(div).slideUp('slow');
			}
		}
		$("#gamemod1").click(function(){
			$("#gamemodsDiv").fadeOut('slow',function(){
				lookPlayer();
			});
		});
		function montreDiv(arg_div,arg_fun){
			var div = "#"+arg_div;
			if (arg_fun == 0)
			{
				$(div).slideDown('slow');
			}
		}	

		function changeAppMenu(arg_menu,arg_value){
			var menu = "data-"+arg_menu;
			$("#app").attr(menu,arg_value);
		}
		function disconnect()
		{
			alertify.confirm("Deconnexion","Voulez-vous fermer votre session ?",
				function(){
					alertify.success('Decconexion en cours');
					document.getElementById("disco").click();
				},
				function(){
					alertify.error('Deconnexion Annulée');
				});
		}
		function trimfield(str) 
		{ 
			return str.replace(/^\s+|\s+$/g,''); 
		}
		function showTomodachis()
		{
			$("#tomodachis").show('slow');
		}
		function closeTomodachis()
		{
			$("#tomodachis").hide('slow');
		}
		function opponent_found(opp_name,opp_color,p1,p2,wins,loses,draws,elo,logo)
		{
			$("#navbar").hide();
			var elmt = $('.gamestarted');
			var opD = $(".opponentDiv");
			opD.fadeIn(1000,function(){elmt.show(1000,function(){
			$(".opponent_name").text(opp_name);
			names[0] = p1;
			names[1] = p2;
			$("#win_stat").text(" "+wins+" "+"Victoires");
			$("#lose_stat").text(" "+loses+" "+"Defaites");
			$("#draw_stat").text(" "+draws+" "+"Matchs Nul");
			$("#win_stat").attr('data-nb',(wins+""));
			$("#lose_stat").attr('data-nb',(loses+""));
			$("#draw_stat").attr('data-nb',(draws+""));
			$("#opp_elo").text(" ELO : "+elo);
			$("#opp_logo").css("background-image","url("+logo+")");
			$("#discuss_mess").html("<i class='fa fa-circle' style='color:#00c389;'> Discution "+opp_name+"</i>"); 
			if (opp_color == 1)
			{
				$("#colorSide").text("Blancs");
				$("#colorSide").attr('style','background:#fff;color:#777;font-weight:bold;font-size:12px;');
			}
			else
			{
				$("#colorSide").text("Noirs");
				$("#colorSide").attr('style','color:#fff;background:#777;font-weight:bold;font-size:12px;');
			}
			on_play = 1;
			$("#overlay2").fadeOut('slow');
			$('.aka').hide();
			});
		});
		updateBoard(p1,p2,opp_color); 
		}
		function opponent_not_found()
		{
			$('#waitmessage').show('fast',function(){$("#notfound").show(1000);});
		}
		function ajaxSearch(reset=false)
		{
			$('#spasearchM').slideDown(1000,function(){
			$.ajax({
        url: '/new/',
        data: {
          'player':{{user.id}}  
        },
				async:false,
        dataType: 'json',
        success: function (data) {
          if (data.game == 0) {
						$('#spasearchM').slideUp(1000,function(){opponent_not_found();});        
					}
          else
          {
						if (reset || on_play == 2)
						{
							newGame();
							//chess.load('rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1');
						}
						Continue();
						$("#partie").text("Partie N°"+data.room);
						initialize_room(data.room);
						opponent_found(data.opp_name,parseInt(data.role),data.p1,data.p2,data.wins,data.loses,data.draws,data.elo,data.logo); 
						start_game();   
          }
        }
      });	
			});
		}
		function hideOver3(){
			$("#overlay3").hide('slow');
		}
		function lookPlayer()
		{
			if (on_play%2 == 0)
			{
				$("#overlay2").show(1000,function(){
					ajaxSearch();
				});
			}
			else
			{
				$("#overlay3").show(1000,function(){});
			}
		}
		function showModes()
		{
			if (on_play%2 == 0){
				montreDiv('gamemodsDiv',0);
			}
			else
			{
				Continue();
				$("#overlay3").show(1000,function(){});
			}
		}
		function trylookPlayer()
		{
			$("#notfound").slideUp(1000,function(){
				ajaxSearch();
			});
		}
		function trylookPlayer3(){
			alertify.confirm("Nouvelle Partie","Lancez une nouvelle partie augmentera vos défaites dans les statistiques ",
				function(){
					alertify.success('Daccord');
					$("#overlay3").hide('slow',function(){
						$("#overlay2").show(1000,function(){
							ajaxSearch(0);
						});
					});
				},
				function(){
					alertify.error('Requete Annulée');
				});
		}
		function returnHall()
		{
			$('.aka').hide();
			optionScreen();
			$("#overlay2").hide(1000);
		}
		$("#continue").click(function(){showModes();});
		$("#send").click(function(){
			var messTo = $("#messTO");
			if (trimfield(messTo.val()) != ''){
				sendMessage(messTo.val(),Player);
				document.getElementById("messTO").value = "";
			}
			else{
				alertify.error('Votre Message est vide.');
			}
		});
	function sendMessage(message,type_m=-1)
	{
			if (type_m == Player)
			{
				mess_div = document.getElementById("mess_div");
				mess_div.innerHTML = "<p style='padding-right:8px;padding-left:10px;padding-top:15px;padding-bottom:15px;margin-right:5px;box-shadow:3px 6px 8px #333;border-radius:20px;width:85%;background:#fff;display:none;'>"+message+"</p>"+mess_div.innerHTML ;	
				$("p").fadeIn('fast');				
			}
			$.ajax({
        url: '/send/',
        data: {
					'type':type_m,
					'room':room_id,
          'sender':Player,
					'message':message  
        },
				async:true,
        dataType: 'json',
        success: function (data) {
					if (data.ocu){
						for (var m=0; m<parseInt(data.nb_msg); m++)
						{
								updateChat(data[("msg"+m)]);
						}
					}
        }
      });	
	}

	function updateChat(message)
	{
		mess_div = document.getElementById("mess_div");
		mess_div.innerHTML = "<p style='padding-right:8px;padding-left:10px;padding-top:15px;padding-bottom:15px;margin-left:15px;box-shadow:3px 6px 8px #000;border-radius:20px;width:85%;background:#eee;display:none;'>"+message+"</p>"+mess_div.innerHTML;
$("p").fadeIn('fast');
	}
	</script>	
		{% else %}
<section style='width:100%;height:100%;background-color:#111;' id="main">
	<div style='flex-direction:column;width:100%;padding-top:50px;display:flex;align-items:center;justify-content:center;height:100%;'>
		<div> 
			<center><img style="display:none;" id="chess_logo" width=350 src="{% static 'chess/img/logo7.png' %}"></center>
		</div>
			<div style='display:none;' id='showLM'>

			</div>
			<form data-send='0' onsubmit='return checkUser()' id='logForm' style="margin-top:50px;" >
{% csrf_token %}
				<center>
				<i id='descripLogo' style="margin-bottom:50px;display:none;font-size:30px;font-family:'Ink Free',eufm10;color: #fff;"> Reserve aux strateges. </i>
				<div>
					<div><label style="width:40px;font-size:16px;color:#fff;font-weight:bold;font-family:'Ink Free',eufm10;"> Votre pseudo </label></div>
					<input id='pseudo' autocomplete class='form-input' required type='text' name='username'>
				</div>
				<div>
					<div style='margin-top:30px;'><label style="width:40px;font-size:16px;color:#fff;font-weight:bold;font-family:'Ink Free',eufm10;"> Votre mot de passe </label></div>
					<input class='form-input' autocomplete id='password' required type='password' name='password'>
				</div>

				<input value='Connexion' id='connect' class='form-submit' type='submit'>

				</center>
			</form>
	</div>
</section>
</div>
	{% endif %}
	<script src="{% static 'chess/js/jquery.min.js' %}"></script>
	<script>
  $("#chess_logo").show(1000,function(){$("#descripLogo").slideDown(1000);});
  function checkUser()
  {
		$('#connect').slideUp('slow');		
		if ($('#logForm').attr('data-send') == '0'){
		$('#showLM').hide();
			$.ajax({
			url: '/check/',
			data: {
			'player':document.getElementById('pseudo').value,
			'password':document.getElementById('password').value 
			},
			dataType: 'json',
			success: function (data) {
		    if (data.exists){
					$('#logForm').hide(1000,function(){
					$('#showLM').html("<h1 style='color:#fff;font-weight:bold;font-size:40px;font-family:Ubuntu,Corbel,sans-serif;'> Bienvenue </h1>");
					$('#showLM').show(1000,function(){$('#logForm').attr('data-send','1');$('#logForm').attr('method','POST');$('#logForm').attr('action','/log/');$('#logForm').submit();});});
				}
				else
			  {
					$('#showLM').html("<small style='text-shadow:0px 0px 5px #fff;text-align:center;color:#fff;font-weight:bold;font-family:Ubuntu,Corbel,sans-serif;'> Erreur au niveau de l'identifiant </small>");	
$('#showLM').fadeIn(1000);				    
					$('#connect').slideDown('slow');
				}    
			}
		  });
		}	
		if ($('#logForm').attr('data-send') == '0'){sub = false;}
		else {sub = true;}
		return sub;
  }
	</script>
  </body>
</html>
